@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.nope{
    position: relative;
    font-family: poppins;
    color: aqua;
    font-size: xx-large;
}